.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    background-color:rgba(0,0,0,0.1);
    border-radius: 0px 0px 5px 5px;
  }
  
  .main__title {
    color: white;
    font-size: 50px;
  }
  
  .input__Search{
    background-color: rgba(255,255,255,0.1);
    border: 4px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
  }
  
  ::placeholder {
    color: white;
  }